table {
    width: 100%;
}

#isCompatible, #estimatedWattage{
    border-radius: 15px;
    border: solid 1px white;
    text-shadow: black 2px 2px 2px;
}



.border-danger{
    border: 3px solid red;
}
